@model Alfasoft.Customer

@{
    ViewData["Title"] = "Alfasoft - Delete Customer";
}

<h1>Confirm Deletion</h1>

<div>
    <h4>Name: @Model.Name</h4>
    <h4>Contact Number: @Model.ContactNumber</h4>
    <h4>Email Address: @Model.EmailAddress</h4>
</div>
<br />
<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <button type="submit" class="btn btn-danger">Confirm Deletion</button>
    <a asp-action="Index">Cancel</a>
</form>